<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Allergies List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addProfile()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!--edit this portion to grab data from firebase-->
<ion-content padding>
  <h2>Allergies</h2>
  <ion-row>
    <ion-item>
      <div *ngIf="auth.authState">current user is {{auth.currentUser}}</div>
    </ion-item>
  </ion-row>
  <ion-list>
    <ion-item-sliding *ngFor="let user of user | async ">
      <ion-item>
        <p>Name: {{user.name}}</p>
        <!-- <p *ngFor="let allergies of user.allergies; let i = index">Allergies: {{user.allergies[i]}}</p>-->
        <p>Allergies:{{user.allergies}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button  (click)=" addAllergies(Allergies,user)"></button>
        <ion-icon name="md-create"></ion-icon>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button color="danger"(click)="deleteProfile(user.$key)"></button>
        <ion-icon name="md-trash">delete</ion-icon>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-row>
    <button (click)="camera()" ion-button block>Next</button>
  </ion-row>
  <ion-row>
    <button (click)="logout()" ion-button block>Log out</button>
  </ion-row>
</ion-content>
