<!--
  Generated template for the UnSafe page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>unSafe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>
    <!--<ion-item *ngFor="let userDetails of userDetailsList" text-wrap>-->
    <ion-item *ngFor="let userDetails of userDetailsList; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3>
      {{userDetails.userName}}

        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h3>


     <!-- <div>{{userDetails.resultUnsafe}}</div>
      <div>{{userDetails.resultWarning}}</div>-->


 <!-- <ion-card *ngFor="let userDetails of userDetailsList">

    <ion-card-header>{{userDetails.userName}}</ion-card-header>

  </ion-card>-->

    <!--<ion-card-content >
      <p *ngFor="let item of data.items">{{item.name}} : {{item.value}}</p>
    </ion-card-content>-->


      <div *ngIf="isGroupShown(i)">


  <ion-card [hidden]="userDetails.resultUnsafe?.length < 1" style="background-color: red">
    <div class="dangerCard" style="color:white">
      Danger
    </div>
    <div class="unSafeText" style="color:white">The food is not safe to consume as it contains the following ingredient(s)</div>

      <ion-item>{{userDetails.resultUnsafe}}</ion-item>


 </ion-card>


  <ion-card [hidden]="userDetails.resultWarning?.length < 1" style="background-color: yellow">
    <div class="warningCard">
      Warning
    </div>
    <div class="warningText">The following ingredients are ambigious hence consume at your own risk</div>

    <ion-item>{{userDetails.resultWarning}}</ion-item>

  </ion-card>

  <ion-card [hidden]="userDetails.resultUnsafe.length > 0 || userDetails.resultWarning.length > 0" style="background-color: green">
  <div class="safeCard"style="color: white">
    Safe
  </div>
  <div class="safeText" style="color: white">The food is safe to consume.</div>
</ion-card>

      </div>
    </ion-item>
  </ion-list>
</ion-content>
