<ion-header>

    <ion-navbar color="primary">
    <ion-buttons>
      <button ion-button icon-only (click)="backToHome()">
        <ion-icon name="arrow-back"></ion-icon>

        <ion-title>
          Camera
        </ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <img src={{image}} *ngIf="image" />
  <div class="noImg" [hidden]="imageExist">
    <ion-icon name="images" style="font-size: 300px"></ion-icon>
    <p>There is no image here</p>
  </div>


  <ion-card-content>

    <!--<ion-item>
      <ion-label>Enable Translation</ion-label>
      <ion-toggle [(ngModel)]="mushrooms"></ion-toggle>
    </ion-item>-->


    <button ion-button block (click)="addPhoto()">Take


  picture</button>

    <div class="results">
      <div *ngFor="let label of labels; let i = index">

        <div *ngIf="i < 1">
          {{label.description}}
        </div>
      </div>

    </div>

    <button (click)="showFlow()" ion-button block>Next</button>

  </ion-card-content>
</ion-content>

